<!DOCTYPE html>

<html lang="en">
  <head>
    <link rel="stylesheet" href="assets/css/kickoff.css" />
    <link rel="stylesheet" href="assets/css/hover.css" />
    <link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">

  </head>
  <body>
    <div class="big">
      <div>
        <div>
          <div>
            <div class="titles">
              <b><em><p style="font-size: 36px; margin: 5px;">MBSA Committees!</b></em><br></p>
              <p style="font-size:14px;">Information regarding MBSA committees is shown below. If you'd like more information about each specific committee please contact the following people. (Click on their names for FB profiles)</p>
            <ul style="font-size: 14px;"> 
                <li><a href="https://mbsatech.carrd.co/" target="_blank" style="text-decoration:underline; color:white;">Tech/Marketing:</a> <a href="https://www.facebook.com/evelyn.yang3" target="_blank" style="text-decoration:none; color:white">Evelyn Yang</a>
                </li>
                <li> Professional: <a href="https://www.facebook.com/profile.php?id=100000077508130" target="_blank" style="text-decoration:none; color:white"></a>Lisa Kim</li></a>
                <li> Philanthropy: <a href="https://www.facebook.com/lauren.shon.7" target="_blank" style="text-decoration:none; color:white"></a>Lauren Shon</li></a>
                <li> Social: <a href="https://www.facebook.com/joel.chiang.3" target="_blank" style="text-decoration:none; color:white"></a>Joel Chiang</li></a>
            </ul>
            </div>
            <img src="https://i.imgur.com/VuOoL7v.png" alt="" style="width: 450px; height: auto;">

          </div>
          <div>
         </div>
        </div>
      </div>
      <div class="blog-slider__pagination"></div>
    </div>

  </body>
</html>
