<!DOCTYPE html>

<html lang="en">
  <head>
    <link rel="stylesheet" href="assets/css/kickoff.css" />
    <link rel="stylesheet" href="assets/css/hover.css" />
    <link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">

  </head>
  <body>
    <div class="big">
      <div>
        <div>
          <div>
            <div class="titles">
              <b><em>MBSA Kick-off Important Links!</b></em></br>
              <p style="font-size:18px;">Please click the links below to join MBSA officially! You can fill out the application at another time as well. Please contact mbsaillinois@gmail.com for any questions.</p>
            </div>
          </div>
          <div>
        <a target="_blank" style="color:black; text-decoration:none;" href="https://www.facebook.com/groups/510815406335370/"><button class="buttons">Join our Facebook Group!</button></a></br>
        <a target="_blank" style="color:black; text-decoration:none;" href="https://forms.gle/TZjGJnDbGuGfRDoY9"><button class="buttons">Submit the MBSA Application!</button></a></a></br>
        <a target="_blank" style="color:black; text-decoration:none;" href="https://forms.gle/gXuuftbqd9MFHMWy9"> <button class="buttons ">Subscribe to MBSA Newsletters!</button></a></br>
         </div>
        </div>
      </div>
      <div class="blog-slider__pagination"></div>
    </div>

  </body>
</html>
